@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
input:focus,
textarea:focus {
  outline: none;
}

@layer utilities {
  .font-alternates {
    font-family: "Montserrat Alternates";
  }
}
