@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  background-color: #212129;
}
input:focus,
textarea:focus {
  outline: none;
}

@layer utilities {
  .font-alternates {
    font-family: "Montserrat Alternates";
  }
}

.right {
  @apply text-right;
}

.template {
  display: grid;
  height: 100vh;

  grid-template: repeat(12, 1fr) / repeat(10, 1fr);
}

.header {
  grid-column: span 10;
}

.contact {
  grid-column: span 4;
  grid-row: span 11;
}

.chat {
  grid-column: span 6;
  grid-row: span 11;
}
